<div class="flex space-x-4 ml-2 mb-4">
  <% if view == 'month' %>
    <%= button_to calendar_month_path,
                  data: { turbo_frame: 'calendar' },
                  method: :get,
                  class: "text-primary-500 hover:text-primary-300" do %>
      <i class="fas fa-calendar-alt fa-2x"></i>
    <% end %>
    <%= button_to calendar_week_path,
                  data: { turbo_frame: 'calendar' },
                  method: :get,
                  class: "text-primary-900 hover:text-primary-500" do %>
      <i class="fas fa-calendar-week fa-2x"></i>
<% end %>
    <%= button_to calendar_day_path,
                  data: { turbo_frame: 'calendar' },
                  method: :get,
                  class: "text-primary-900 hover:text-primary-500" do %>
      <i class="fas fa-calendar-day fa-2x"></i>
<% end %>
  <% end %>

  <% if view == 'week' %>
    <%= button_to calendar_month_path,
                  data: { turbo_frame: 'calendar' },
                  method: :get,
                  class: "text-primary-900 hover:text-primary-500" do %>
      <i class="fas fa-calendar-alt fa-2x"></i>
    <% end %>
    <%= button_to calendar_week_path,
                  data: { turbo_frame: 'calendar' },
                  method: :get,
                  class: "text-primary-500 hover:text-primary-300" do %>
      <i class="fas fa-calendar-week fa-2x"></i>
    <% end %>
    <%= button_to calendar_day_path,
                  data: { turbo_frame: 'calendar' },
                  method: :get,
                  class: "text-primary-900 hover:text-primary-500" do %>
      <i class="fas fa-calendar-day fa-2x"></i>
    <% end %>
  <% end %>

  <% if view == 'day' %>
    <%= button_to calendar_month_path,
                  data: { turbo_frame: 'calendar' },
                  method: :get,
                  class: "text-primary-900 hover:text-primary-500" do %>
      <i class="fas fa-calendar-alt fa-2x"></i>
    <% end %>
    <%= button_to calendar_week_path,
                  data: { turbo_frame: 'calendar' },
                  method: :get,
                  class: "text-primary-900 hover:text-primary-500" do %>
      <i class="fas fa-calendar-week fa-2x"></i>
    <% end %>
    <%= button_to calendar_day_path,
                  data: { turbo_frame: 'calendar' },
                  method: :get,
                  class: "text-primary-500 hover:text-primary-300" do %>
      <i class="fas fa-calendar-day fa-2x"></i>
    <% end %>
  <% end %>
</div>