<!DOCTYPE html>
<html>
  <head>
    <title>Typist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%= turbo_frame_tag "modal" %>

  <body>
    <header class="sticky top-0">
      <%= render 'layouts/navbar/navbar' %>
    </header>
    <main class="flex flex-col grow ">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </main>
    <footer class="mt-12">
      <%= render 'la' %>
    </footer>
  </body>
</html>
