<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Typist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8661081514.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%= turbo_frame_tag "modal" %>

  <body data-controller="menu" class="body" data-action="click->menu#hide">
    <header class="sticky top-0">
      <%= render 'layouts/navbar/navbar' %>
    </header>
    <main class="flex flex-col grow">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </main>
  </body>
</html>
